/* Common styles */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Responsive styles for screens smaller than 600px */
@media (max-width: 600px) {
  body {
    /* Adjust the styles for smaller screens */
    justify-content: flex-start;
  }

  #root {
    /* Adjust the styles for smaller screens */
    max-width: 100%;
    margin: 0;
    text-align: left;
  }
}

/* Responsive styles for screens larger than 1200px */
@media (min-width: 1200px) {
  body {
    /* Adjust the styles for larger screens */
    justify-content: flex-end;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
